// Definisikan variabel disini

$font: 'Montserrat', sans-serif;  // safe-font

// Color

$blue : hsl(234, 87%, 59%);
$light-blue : hsl(216, 82%, 63%);
$soft-blue : hsl(235, 69%, 90%);

$red : hsl(0, 100%, 66%);

$dark-grey : hsl(0, 0%, 18%);
$grey : hsl(217, 15%, 72%);
$light-grey : hsl(0, 0%, 95%);
