// Definisikan variabel disini

$font: 'Montserrat', sans-serif;  // safe-font

// Color

$blue : #3D4FF1;
$light-blue : #5190EE;
$soft-blue : #D3D6F7;

$red : #FF5050;

$dark-grey : #2F2F2F;
$grey : #AEB6C3;
$light-grey : #F8F8F8;