.head {
  background-color: white;
}

.header-img {
  background: url('../assets/img/header1.jpg');
  margin-top: 64px;
  height: 620px;
}

.header-img .quote-about {
  color: white;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  max-width: 800px;
}

p.header-aboutus {
  font-size: 50px;
  text-align: center;
}

p.header-team {
    font-size: 50px;
    text-align: center;
    padding: 50px 0 0;
  }

p.description {
  font-size: 18px;
  max-width: 800px;
  text-align: center;
}

.profile {
  @include md{
    // margin: 5px 10px 120px 10px;
  }
  img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 10px 50px;
    align-items: center;
  }
}

.box-icon {
  position: relative;
  bottom: 30%;
  margin: 50px;
  background-color: white;
  width: 300px;
  height: 350px;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  .icon-etiquette{
    padding: 30px 100px 10px 100px;
      // img{
      //   @include md{
      //     // display: none;
      //     width: 35px;
      //     // margin: 0px 10px 5px 10px;
      //     // top: 200px;
      //     position: auto;
      //   }
      // }
  }

  .icon-prohib {
    padding: 30px 110px 20px 110px;
  }

  .icon-explore {
    padding: 50px 85px 30px 85px;
  }

  // @include md{
  //   margin: 15px;
  //   width: 200px;
  //   height: 200px;
  //   font-size: 10px;
  // }
}

.icontext {
  text-align: justify;

  .title {
    font-weight: bold;
    font-family: 'Montserrat'sans-serif;
    font-size: 20px;
    padding: 10px 0 0 0;
    text-align: center;
  }

  .descrip {
    padding: 0 20px;
    color: black;
  }
}

.aboutkrama {
  padding: 50px 0 150px 0;
}

.cardkrama {
  background-color: $blue;
  height: 330px;
  @include md{
    height: auto;
  }
}

.ourprofile {
  padding: 20px;  
}

.cardprofile{
    padding: 15px;
    @include md{
      width: 50%;
    }
}

.card1{
    height: 250px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.cardbody{
    text-align: center;
    background-color: $blue;
    color: white;
}