<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Box Rules</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://cdn.jsdelivr.net/npm/boxicons@1.8.1/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" type="text/css" media="screen" href="/css/box-rules.css" />
    </head>

    <body>
        <div class="box-rules-flex">

            <div class="box-rules">
                <div class="box-rules-title">What you should know</div>

                <div class="icon-flex">    
                    <i class='bx bx-t-shirt bx-sm bx-border box-hover-blue box-rules-icon'></i> 
                    <i class='bx bx-trash bx-sm bx-border box-hover-blue box-rules-icon'></i>
                    <i class='bx bx-smiley-happy bx-sm bx-border box-hover-blue box-rules-icon'></i>
                    <i class='bx bx-camera-off bx-sm bx-border box-hover-red box-rules-icon'></i>
                </div>
                
                <hr class="box-rules-line">

                <div>
                    <p class="box-rules-p">Visitor must wear traditional Mataram Outfits to enter the tomb (you can rent it at reasonable cost)</p>
                </div>
            </div> <!-- .box-rules -->    
        </div> <!-- .box-rules-flex -->
    </body>
</html>