<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BOXRULES</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="box-rules.css">
</head>
<body>
    <div class="box">
        <h2 class="title">What you should know</h2>
        <div class="icon">
            <div class="box-icon1">
                <a class="tab active" href="#one"><img src="tshirt-solid.svg" aria-expanded="true" class="icon1"></a>
                </div> 
            <div class="box-icon2">
                <a class="tab" href="#two"><img src="trash-alt-regular.svg" aria-expanded="false" class="icon1"></a>
                </div>
            <div class="box-icon3">
                <a class="tab" href="#three"><img src="smile-regular.svg" aria-expanded="false" class="icon1"></a>
                </div>
            <div class="box-icon4">
                <a class="tab" href="#four"><img src="no-camera.svg" aria-expanded="false" class="icon1"></a>
                </div>
    </div>
        <hr class="line">
        
    <div> <p class="satu" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, voluptates minima, numquam hic iusto laboriosam voluptatem explicabo
        temporibus molestiae aliquam sapiente debitis tempore! Autem est perspiciatis a eum id assumenda!</p></div>  
</div>
     

</body>
</html>


