<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Directory</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,900" rel="stylesheet">
  <link rel="stylesheet" type="text/css" media="screen" href="../scss/components/directory.css" />
  
</head>
<body>
  <div class="directory">
    <span><a href="#">Home</a></span> > <span><a href="#">Places</a></span> > <span><a href="#">Borobudur</a></span>
  </div>
  
  <script src="main.js"></script>
</body>
</html>