<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KRAMA</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="frontend/src/scss/components/fontstyles.css">
</head>

<body>
    <div>
        <p class="destination">Destination</p>
        <h1>Candi Borobudur</h1>
        <p class="alamat">Jalan Raya Borobudur, Magelang, Jawa Tengah</p>
    </div>

    <div>
        <h2>KRAMA</h2>
        <P>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
            some form, by injected humour, or randomised words which don't look even slightly believable. If you are
            going to use a passage of Lorem Ipsum,
            you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum
            generators on the Internet tend to repeat predefined chunks as necessary, making this the first true
            generator on the Internet. It uses a dictionary
            of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum
            which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected
            humour, or non-characteristic words etc.
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
            in some form, by injected humour, or randomised words which don't look even slightly believable. If you are
            going to use a passage of Lorem
            Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem
            Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true
            generator on the Internet. It uses
            a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate
            Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition,
            injected humour, or non-characteristic
            words etc.</P>
    </div>
</body>

</html>