<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LOGIN</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="login">
    <div class="form">
        <label for="email" class="email-label">Email Address</label>
        <input type="text" id="email-box">
    </div> 
        <div>
        <label for="pass" class="pass-label">Password</label>
        <input type="password" name="" id="pass-box" value="" required>
        <div class="text">
        <button type="onclick" class="btn" >Login</button>
        
        <a href="" class="forgot">Forgot Password? </a>
    </div>    
    </div>
    </div>
</body>
</html>